<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0287150E65EBAC193098A906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49CCC2DF82A1ADF9C3505BB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5907FD8792A33FC11722A828</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69AFCC1BB2FAD66BBB07C544</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B45D08B7174A9D4014E2454</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2C4FF22BEC6A28C8D751494</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5CF0E6C00E293F376943D1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE081979FFDC41CB7D489EEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
